/*0001*/
body {
    line-height: 1.8;
    color: rgb(0, 0, 0);
    background-color: white;
}

/*0001*/
h1 {
    font: 400 40px 'Brush Script MT, Brush Script Std', cursive;
    color:rgb(126, 126, 255);
    background-color: white;
    text-transform: uppercase;
    padding: 50px 25px;
    text-align: center;
}

/*0001*/
h2{
    color:rgb(167, 27, 148);
    background-color: white;
}

/*0002*/
article > img{
    height: 500px;
    width: 100%;
}